<body>
<h1>All Tasks</h1>

<% @tasks.each do |task| %>
  <h3>
    <input type="checkbox" value="None" id="squaredThree" name="check"/>
    <label for="squaredThree"></label>
  <a href="/tasks/<%= task.id %>"><%= task.title %></a></h3>
<% end %>

</body>



